{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body style="background-image: url(static/images/bear.png); ">
    
    <div class="container my-5 py-5 border shadow-lg bg-light" style="background-image: url(static/images.png); background-size:cover; background-position:center; " >
        
 
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
            
    
             <div class="row d-flex justify-content-center">
        
            <div class="col-md-6">
              <img src="static/images/logo.png" style="width:11%;">
              <b><h1 class="mt-3">Register for Finler </h1> 
              <form method="POST" >
                {% csrf_token %}
                {{ form|crispy }}
              <button type="submit" class="btn btn-success">Register</button>
              </form>
              <p class="mt-4">By clicking
                  <em>Register</em> you agree to our
                  <a href="" target="_blank">terms of service</a>
                 <p>Already a member?
              <a href="/login">Let's get started!</a>
            </p>
    </b>
            </div>
    
          </div>
    
    
        </section>
    
    
      </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>