<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adani stocks plunge amidst....</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <style>
         html{
            scroll-behavior: smooth;
        }
        p {
            letter-spacing: 1px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    {% include "user_home/navbar_after_login.html" %}

    <center>
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-outline-info btn-sm  mt-3" href="/blogs">
                    < Previous news</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-outline-info btn-sm mt-3" href="/blogs">Go back to headlines</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-outline-info  btn-sm mt-3" href="/blog2">Next news ></a>
            </div>
        </div>
    </center>
    <h1 class="text-justify m-4">Adani group stocks erode nearly Rs 54k crore in m-cap in a single day. Analysts say
        avoid them</h1>
    <p class="text-justify lead m-4"><i>
            Stocks like Adani Total Gas vaulted 334 percent in the calendar year till June 11. Shares of Adani
            Transmission, Adani Enterprises and Adani Power have jumped between 200 percent and 265 percent in the same
            period</i>
    </p>
    <center><img src="static/images/bear.png" alt="" class="img-fluid"></center>
    <h1 class="lead ml-4">-Written by Abhinay.A.Gunjal</h1>
    <hr>

    <p class="m-4 text-justify"><b>Later in the day, Adani Enterprises issued a statement terming the media reports as
            erroneous.</b></p>

    <p class="m-4 text-justify">"We bring to your kind attention, the news headlines published in ET that NSDL has
        frozen the accounts of 3 foreign funds-Albula Investment Fund, Cresta Fund and APMS Investment Fund holding
        shares in Adani Group Companies. We regret to mention that these reports are blatantly erroneous and are done to
        deliberately mislead the investing community. This is causing irreparable loss of economic value to the
        investors at large and reputation of the group," Adani Enterprises said in a statement.

        "Given the seriousness of the article and its consequential adverse impact on minority investors, we requested
        Registrar and Transfer Agent, with respect to the status of the Demat Account of the aforesaid funds and have
        their written confirmation vide its e-mail dated 14 June 2021, clarifying that the Demat Account in which the
        aforesaid funds hold the shares of the Company are not frozen," the company's statement said.</p>

    <p class="text-justify m-4">Besides, Sebi is reportedly investigating whether there has been price manipulation in
        Adani Group stocks, which have gained between 200 and 1,000 percent in the last one year. Moneycontrol could not
        independently confirm the development.

        Overall, the m-cap of Adani group stocks fell nearly Rs 54k crore today. However, Adani group stocks have been
        on a tear for over a year.

        Stocks like Adani Total Gas vaulted 334 percent in the calendar year till June 11. Shares of Adani Transmission,
        Adani Enterprises and Adani Power have jumped between 200 percent and 265 percent in the same period.</p>
    </p>


    <p class="m-4"><b>Analysts are now advising staying away from Adani group stocks.</b></p>

    <p class="m-4 text-justify">"No fresh trades are advisable for now in Adani group stocks. As these shares are in
        control of the operators and the news is out, the risks are high. There can be unpredictable movements in either
        direction. Those who are trapped in long positions should wait patiently for a bounce to exit,"</b> said Sanjeev
        Agarwal, Founder and CEO, Alpha Quantum Capital Management Ltd.</p>

    <p class="m-4 text-justify">Yash Gupta, Equity Research Associate, Angel Broking pointed out as per the different
        market news some of the mutual funds are holding very large quantities of Adani groups stocks and some
        complaints have been filed with Sebi also.

        "From today, four Adani group stocks have been shifted to T2T (trade 2 trade) which means that intraday trading
        will not be permitted and investors need to take or give holding for any trade," said Gupta.

        "We suggest investors be cautious on Adani group stocks, trading at very high valuations compared to peers. Buy
        on dips or averaging the buy position should be avoided for the time being," Gupta said.
    </p>
    <p class="m-4 text-justify">Gaurav Garg, Head of Research, CapitalVia Global Research points out investors should be
        cautious as most of the Adani group stocks are in the overbought zone and likely to consolidate in the next few
        months with profit-booking.

        However, Garg said the structure is still intact and the charts still look bullish for long-term investment.
        Investors should look for any meaningful correction and add stocks in their portfolio in a staggered manner, he
        said.
    </p>

    <p class="m-5 text-justify"><b>Disclaimer:</b><i>The views expressed by experts on FINLER are of their own
            experience and interest. Finler.com advises user that they are not to be hled responsible for any losses</i>
    </p>

    <a class="btn btn-outline-info ml-4" href="/blogs">Go back to headlines</a>
    <hr>
    <h3 class="m-5">News you may like.</h3>
    <div class="card-deck m-4">
        <div class="card">
            <img class="card-img-top" src="static/images/mutual.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mutual funds Vs Stocks</h5>
                <p class="lead">Every expert was once a beginner. Want to start investing? Start with these fundamentals
                    and follow them to START your investing journey.</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog3">Know more</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top mt-3" src="static/images/stats.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rakesh Jhunjhunwala's portfolio</h5>
                <p class="lead">Those who hold Titan shares in their portfolio should maintain trailing stop loss at
                    ₹1670, say experts.</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog2">Know more</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top mt-5" src="static/images/scam.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Adani Stocks plunge amid twitter storm by Sucheta Dalal</h5>
                <p class="lead">Stocks like Adani Total Gas vaulted 334 percent in the calendar year till June 11.
                    Shares of Adani Transmission, Adani Enterprises and Adani Power have jumped between 200 percent and
                    265 percent in the same period</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog1">Know more</a>

                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-info ml-4" href="/blogs">Go back to headlines</a>
    {% include "user_home/footer.html" %}

</body>

</html>