<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adani stocks plunge amidst....</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <style>
        p {
            letter-spacing: 1px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    {% include "user_home/navbar_after_login.html" %}
    <center>
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-outline-info btn-sm  mt-3" href="/blog2">
                    < Previous news</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-outline-info btn-sm mt-3" href="/blogs">Go back to headlines</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-outline-info  btn-sm mt-3" href="/blogs">Next news ></a>
            </div>
        </div>
    </center>
    <h1 class="text-justify m-4">Mutual Fund Vs Stock: Four reasons for choosing mutual funds over buying stocks</h1>
    <p class="text-justify lead m-4"><i>Here are some reasons why mutual funds hold a little edge over shares in terms
            of investment subject to individual rationality.</i>
    </p>
    <center><img src="static/images/bear.png" alt="" class="img-fluid"></center>
    <h1 class="lead ml-4">-Written by Abhinay.A.Gunjal</h1>
    <hr>
    <p class="text-justify m-4">The interest in equities is soaring as the stock markets touch new highs. However, the
        big question remains whether young investors put money in stocks directly or through mutual funds. Here are some
        reasons why mutual funds hold a little edge over shares (stocks) in terms of investment subject to individual
        rationality.</p>
    <p class="m-4 text-justify"><b> -> Portfolio diversification</b></p>

    <p class="m-4 text-justify">It reduces the risk of concentration in a particular stock as here the investment is
        made in various types of stocks, and such activity mitigates the losses if one or two stocks won’t work or incur
        losses. But in case of direct investment in stocks, one won’t invest in more than 10 stocks on an average,
        thereby entailing huge risks on his investment in case of volatility.</p>


    <p class="m-4 text-justify"><b> -> Professional Management</b></p>

    <p class="m-4 text-justify">Mutual funds are professionally managed by a team of fund managers who do a lot of
        research and study various stocks and then identify and pick up such select stocks that are more profitable or
        those that signify growth in near future. They study the financial statements and other necessary information
        about the companies, and are well-versed with the risk management process. On the other hand, investing in
        stocks means an individual will have to study the stock market himself, and analyse the headwinds and tailwinds
        of such stocks. That is the reason why the task of identifying, analysing and evaluating risks isn’t a
        beginner’s cup of tea.</p>

    <p class="m-4 text-justify"><b> -> Disciplined Approach</b></p>

    <p class="m-4 text-justify">A mutual fund follows a very systematic-cum-professional-cum-disciplined approach
        towards investing investors’ money, and then there are various types of funds here in the form of equity, debt,
        hybrid, gold, etc., with specific goals like retirement, children’s plans, etc. Depending upon your investment
        horizon, you can go for either liquid funds or corporate bond funds. You can also take the Systematic Investment
        Plan (SIP) route.</p>

    <p class="m-4 text-justify"><b> -> Tax Benefits</b></p>

    <p class="m-4 text-justify">There are benefits in the form of deductions available under Section 80C of Income Tax
        Act when investing in certain schemes in mutual funds, for e.g., Equity-Linked Saving Scheme wherein deduction
        of up to Rs 1.5 lakh per year is available. No such benefit is available in direct stock investment and one has
        to pay certain charges like STT, dividend distribution tax, capital gains tax, brokerage charges. In mutual
        funds, one has to pay fund management fees.

        If an investor has time to study and research various stocks and its financial information, then he can create
        his own stock investment portfolio. But if we are not able to conduct adequate research or dedicate sufficient
        time in understanding and evaluating various stocks and their related news, and want our money to be looked
        after by fund managers professionally whose intent is to provide us a consistent return over a long term period
        specifically by investing in a diversified manner, then mutual fund is the best option for investing.</p>

    <p class="m-5 text-justify"><b>Disclaimer:</b><i>The views expressed by experts on FINLER are of their own
            experience and interest. Finler.com advises user that they are not to be hled responsible for any losses</i>
    </p>

    <a class="btn btn-outline-info ml-4" href="/blogs">Go back to headlines</a>
    <hr>
    <h3 class="m-5">News you may like.</h3>
    <div class="card-deck m-4">
        <div class="card">
            <img class="card-img-top" src="static/images/mutual.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mutual funds Vs Stocks</h5>
                <p class="lead">Every expert was once a beginner. Want to start investing? Start with these fundamentals
                    and follow them to START your investing journey.</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog3">Know more</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top mt-3" src="static/images/stats.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rakesh Jhunjhunwala's portfolio</h5>
                <p class="lead">Those who hold Titan shares in their portfolio should maintain trailing stop loss at
                    ₹1670, say experts.</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog2">Know more</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top mt-5" src="static/images/scam.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Adani Stocks plunge amid twitter storm by Sucheta Dalal</h5>
                <p class="lead">Stocks like Adani Total Gas vaulted 334 percent in the calendar year till June 11.
                    Shares of Adani Transmission, Adani Enterprises and Adani Power have jumped between 200 percent and
                    265 percent in the same period</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog1">Know more</a>

                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-info ml-4" href="/blogs">Go back to headlines</a>
    {% include "user_home/footer.html" %}

</body>

</html>