<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rakesh Jhunjunwala....</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <style>
        p {
            letter-spacing: 1px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    {% include "user_home/navbar_after_login.html" %}
    <center>
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-outline-info btn-sm  mt-3" href="/blog1">
                    < Previous news</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-outline-info btn-sm mt-3" href="/blogs">Go back to headlines</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-outline-info  btn-sm mt-3" href="/blog3">Next news ></a>
            </div>
        </div>
    </center>
    <h1 class="text-justify m-4">Rakesh Jhunjhunwala portfolio: Experts give 'buy' tag to this lifestyle stock
    </h1>
    <hr>
    <p class="text-justify lead m-4"><i>
            Those who hold Titan shares in their portfolio should maintain trailing stop loss at ₹1670, say experts.</i>
    </p>
    <center><img src="static/images/rake.png" alt="" class="img-fluid"></center>
    <h1 class="lead ml-4">-Written by Abhinay.A.Gunjal</h1>
    <hr>

    <p class="m-4 text-justify"><b>Titan Company share price has given breakout at ₹1670 recently, say experts</b></p>

    <p class="m-4 text-justify">Rakesh Jhunjhunwala net worth in Titan Company shares logged more than 18 per cent rise
        in last one month as the lifestyle stock rose from ₹1455.85 per stock levels to ₹1729.50 in this period.
        According to stock market experts, this Rakesh Jhunjhunwwala portfolio stock is expected to further scale
        northward as the unlock activities are fast catching up. They said that the Rakesh Jhunjhunwala stock has
        recently given breakout and is looking positive on the chart pattern too.</p>

    <p class="text-justify m-4">Speaking on the fundamentals that are important from Titan Company share price
        perspective Avinash Gorakshkar, Head of Research at Profitmart Securities said, "Titan Company is a lifestyle
        company whose 30 per cent business comes from jewelry retail sale. Since, Covid-19 restrictions in various parts
        of India led to closure of its showrooms, its June quarter result is expected to come weak. But, the way unlock
        activities are fast catching up, there is speculation about sharp rise in the counter and that is the reason for
        recent rise in this Rakesh Jhunjhunwala share holding stock."</p>
    </p>



    <p class="m-4 text-justify"> Expecting sharp rally in Titan share price Mudit Goel, Senior Research Analyst at SMC
        said, "Titan Company share price has given breakout at ₹1670 recently. For the last few trade sessions, the
        lifestyle stocks is trading side-ways that augurs for sharp rise in the counter this week. Those who hold the
        counter should maintain trailing stop loss at ₹1670. However, if someone wants to buy Titan shares, they can buy
        the counter at current market price for the targets of ₹1840 and ₹1890 maintaining the stop loss at ₹1670."
    </p>

    <p class="m-4"><b>Rakesh Jhunjhunwala's net worth in Titan</b></p>

    <p class="m-4 text-justify">As per Titan Company shareholding pattern for March 2021 quarter, Rakesh Jhunjhunwala
        and his wife Rekha Jhunjhunwala together holds 5.06 per cent Titan Company shares. Raakesh Jhunjhunwala holds
        3.97 per cent company shares while his wife Rekha Jhunjhunwala holds 1.09 per cent Titan shares.


    </p>


    <p class="m-5 text-justify"><b>Disclaimer:</b><i>The views expressed by experts on FINLER are of their own
            experience and interest. Finler.com advises user that they are not to be hled responsible for any losses</i>
    </p>


    <a class="btn btn-outline-info ml-4" href="/blogs">Go back to headlines</a>
    <hr>
    <h3 class="m-5">News you may like.</h3>
    <div class="card-deck m-4">
        <div class="card">
            <img class="card-img-top" src="static/images/mutual.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Mutual funds Vs Stocks</h5>
                <p class="lead">Every expert was once a beginner. Want to start investing? Start with these fundamentals
                    and follow them to START your investing journey.</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog3">Know more</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top mt-3" src="static/images/stats.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rakesh Jhunjhunwala's portfolio</h5>
                <p class="lead">Those who hold Titan shares in their portfolio should maintain trailing stop loss at
                    ₹1670, say experts.</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog2">Know more</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top mt-5" src="static/images/scam.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Adani Stocks plunge amid twitter storm by Sucheta Dalal</h5>
                <p class="lead">Stocks like Adani Total Gas vaulted 334 percent in the calendar year till June 11.
                    Shares of Adani Transmission, Adani Enterprises and Adani Power have jumped between 200 percent and
                    265 percent in the same period</p>
                <a class="btn btn-outline-danger  mb-3" href="/blog1">Know more</a>

                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-info ml-4" href="/blogs">Go back to headlines</a>
    {% include "user_home/footer.html" %}

</body>

</html>