<!DOCTYPE html>

<html>

    <head>

        <title>Budget App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
    {% include 'user_home/navbar_after_login.html'%}
    {% include 'user_home/Graphs.html'%}
    
        <br>
        <div class="section">
            <div class="row">
                <form class="col s12" action='{% url "add item" %}' method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
                            <br>
                            <br>
                            <div class="input-field row s3">
                                <input placeholder="Expense name" name="expense_name" id='expense_name' type='text' class='validate'>
                                <label for='expense_name'>Expense name</label>
                            </div>
                            <div class="input-field row s3">
                                <input placeholder='Amount' name='cost' id='cost' type='text' class='validate'>
                                <label for='cost'>Amount</label>
                            </div>
                            <div class="input-field row s3">
                                <input placeholder='Date of Expense' name="expense_date" id="expense_date" type="text" class='datepicker'>
                                <label for="expense_date">Expense Date</label>
                            </div>
                            <button class="btn btn-success" type="submit" name="action">Add Expense
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="container">
                    <div class="col s6">
                        <table class="striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for expense_item in expense_items %}
                                <tr>
                                    <td>{{ expense_item.expense_name }}</td>
                                    <td>{{ expense_item.cost }}</td>
                                    <td>{{ expense_item.date_added}}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

            
        </div>
        {% include 'user_home/footer.html'%}


        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format:'yyyy-mm-dd'});
            });
        </script>
    </body>

</html>

